/*Estilos del body*/
body{
    background-color: #f5f5f5;
}


/*estilos de footer*/
ul{
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


/*estilos de la barra de navegacion*/
nav{
    background-color: #5b76c0;
}
#link-logo{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}